[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/dsoloviev/CW3
ExecStart=/home/dsoloviev/CW3/env/bin/python app.py

[Install]
WantedBy=multi-user.target